body {
  background-color: #282923;
}
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  background-color: black;
  display: flex;
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
}
.logo {
  font-size: 25px;
  padding-left: 50px;
}
.main-menu {
  display: flex;
}
.main-menu ul li {
  position: relative;
}
.main-menu li {
  padding-right: 100px;
}
.main-menu li a {
  display: block;
}

.main-menu li a:hover {
  color: #e32879;
  
}
.sub-menu { display: flex;
  background-color: black;
  position: absolute;
  top: 40px;
  left: 760px;
  margin: 0px auto;
  
}
.sub-menu li{
  text-align: center;
}
.main-menu li:hover .sub-menu {
  display: block;