body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  #wrapper {
    display: flex;
    justify-content: center;
  }
  .main-menu {
    display: flex;
    
  }
  .main-menu li {
    padding: 0px 20px;
  }
  .main-menu a {
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    position: relative;
  }
  .main-menu a::after{
      content:"";
      height: 5px;
      width: px;
      background: tomato;
      position: absolute;
      bottom: 0px;
      left: 0;
      transition: all 0.5s ease-in-out;
  }
  .main-menu a:hover::after{
width: 50%;
transform: translateX(100%);

  }