body {
  font-size: 20px;
}
.main-menu ul {
  background: #00cec9;
  width: 300px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.main-menu li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border: 1px solid white;
  padding: 0 ;
  
}
.main-menu li a {
  text-decoration: none;
  color: #2c2c54;
  font-weight: bold;
  display: block;
}
.main-menu ul  {
  position: relative;
}
.main-menu .sub-menu {
  position: absolute;
  left: 300px;
  top: 0;
  display: none;
}
.main-menu li:hover .sub-menu {
  display: block;
}
.main-menu li a:hover { 
  color: orangered;
  background-color: wheat;

  }
