body{ color:white;
margin: 0;
}
.container {display: flex;}

.column-left, .column-right {
height: 400px;
}

.column-left{ 
display: flex;   
align-items: center;    
justify-content: center;
width: 60%;    
background-color: red;

}

.column-right{
width:40% ;
}

.top{
text-align: center; 
line-height: 200px;
height: 200px;  
background-color:green;
}
    
.bottom {
    display: flex; justify-content: center; align-items: center;
height: 200px;
background-color: blue;
}
.back-to-top{
width: 50px;
height: 50px;
display: flex; justify-content: center; align-items: center;
position: fixed;
border-radius: 50px;
background-color: aqua;
left: 0;
top:0

}